{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Bonjour{% endblock %}

{% block body %}

<div class="container">
    <div>
        {% for user in users %}
            <a href="{{ path('user', {id: user.id}) }}"><button class="log">{{ user.name }}</button></a>
        {% endfor %}
    </div>
</div>


{% endblock %}
