body {
    background-color: #E6E5ED;
}

#fist-section {
    height: 150px;
}

#second-section {
    height: 680px;
    overflow: auto;
    text-overflow: ellipsis;
}

#card-margin {
    margin: 0 20px 0 20px;
}


