body {
    background: rgb(255, 0, 0);
    margin: 15px 15px 15px 15px;
}

#first-part {
    height: 170px;
}

.weather {
    float: right;
    height: 70%;

}

#second-part {
    height: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#short-text {

}